asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
balena-sdk==6.0.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==3.2
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyHamcrest==1.9.0
PyJWT==1.6.4
pyOpenSSL==18.0.0
pyotp==2.2.6
pyserial==3.4
pytz==2018.5
requests==2.20.0
service-identity==17.0.0
six==1.11.0
Twisted==20.3.0
urllib3==1.24.2
zope.interface==4.6.0
RPi.GPIO==0.6.3
